In [1]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv("settop.csv", parse_dates=['측정시간']).drop_duplicates()
data

,측정시간,온오프라인여부,상향파워1,상향파워2,상향SNR,하향파워,하향SNR,셀번호
0,2024-04-11 20:15:00,offline,NaN,NaN,NaN,NaN,NaN,YSWS2-6
1,2024-04-11 20:15:00,offline,NaN,NaN,NaN,NaN,NaN,YSJSC2005
2,2024-04-11 20:15:00,offline,NaN,NaN,NaN,NaN,NaN,YSWS0165
3,2024-04-11 20:15:00,offline,NaN,NaN,NaN,NaN,NaN,YSWS2-5
4,2024-04-11 20:15:00,offline,NaN,NaN,NaN,NaN,NaN,YSMY0028
...,...,...,...,...,...,...,...,...
2708814,2024-04-24 10:10:00,online,0.0,49.0,31.0,-7.0,38.0,YSWS0285
2708815,2024-04-24 10:10:00,online,0.0,43.0,34.0,-2.0,38.0,YSWS0179
2708816,2024-04-24 10:10:00,w-online,0.0,43.0,30.0,2.0,39.0,YSSRAP1-11A
2708817,2024-04-24 10:10:00,w-online,0.0,41.0,31.0,11.0,43.0,YSWS5-8
2708818,2024-04-24 10:10:00,online,1.0,35.0,33.0,5.0,38.0,YSWS6-1

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1399544 entries, 0 to 2708818
Data columns (total 8 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   측정시간     1399544 non-null  datetime64[ns]
 1   온오프라인여부  1399395 non-null  object
 2   상향파워1    1320282 non-null  float64
 3   상향파워2    1313717 non-null  float64
 4   상향SNR    1273756 non-null  float64
 5   하향파워     1313696 non-null  float64
 6   하향SNR    1313717 non-null  float64
 7   셀번호      1308372 non-null  object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 96.1+ MB

In [18]:
data.describe()

,측정시간,상향파워1,상향파워2,상향SNR,하향파워,하향SNR
count,1399544,1.320282e+06,1.313717e+06,1.273756e+06,1.313696e+06,1.313717e+06
mean,2024-04-16 04:46:29.075227136,-1.264919e-01,4.219080e+01,3.065526e+01,1.438984e+00,3.809249e+01
min,2024-04-01 00:20:00,-2.000000e+01,-1.100000e+01,-6.200000e+01,-2.140000e+02,0.000000e+00
25%,2024-04-08 08:25:00,0.000000e+00,3.800000e+01,2.900000e+01,-2.000000e+00,3.700000e+01
50%,2024-04-15 20:55:00,0.000000e+00,4.300000e+01,3.100000e+01,1.000000e+00,3.900000e+01
75%,2024-04-23 22:00:00,0.000000e+00,4.700000e+01,3.400000e+01,6.000000e+00,4.100000e+01
max,2024-05-01 23:00:00,1.300000e+01,6.200000e+01,4.500000e+01,8.420000e+02,5.100000e+01
std,NaN,1.639532e+00,8.771848e+00,4.659996e+00,6.788060e+00,6.115164e+00

In [19]:
data['셀번호'].nunique()

815

In [38]:
data[data['셀번호']=='YSHSHFC0009'][data['측정시간'] > '2024-04-18 02:00'].sort_values('측정시간', ascending=True)[:30]

/tmp/ipykernel_6053/4004031584.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['셀번호']=='YSHSHFC0009'][data['측정시간'] > '2024-04-18 02:00'].sort_values('측정시간', ascending=True)[:30]

,측정시간,온오프라인여부,상향파워1,상향파워2,상향SNR,하향파워,하향SNR,셀번호
2337070,2024-04-18 02:25:00,online,0.0,43.0,30.0,-13.0,32.0,YSHSHFC0009
1200988,2024-04-18 02:35:00,online,0.0,0.0,30.0,0.0,0.0,YSHSHFC0009
1201287,2024-04-18 02:45:00,online,0.0,45.0,31.0,-13.0,32.0,YSHSHFC0009
1202104,2024-04-18 02:55:00,online,NaN,41.0,34.0,9.0,37.0,YSHSHFC0009
1202045,2024-04-18 02:55:00,online,NaN,41.0,31.0,1.0,36.0,YSHSHFC0009
1201628,2024-04-18 02:55:00,offline,NaN,NaN,NaN,NaN,NaN,YSHSHFC0009
1202760,2024-04-18 03:05:00,online,0.0,49.0,34.0,-13.0,31.0,YSHSHFC0009
1202628,2024-04-18 03:05:00,online,0.0,29.0,31.0,4.0,35.0,YSHSHFC0009
1202564,2024-04-18 03:05:00,online,0.0,41.0,31.0,1.0,36.0,YSHSHFC0009
1202540,2024-04-18 03:05:00,online,0.0,30.0,32.0,12.0,37.0,YSHSHFC0009
1202353,2024-04-18 03:05:00,online,0.0,41.0,34.0,9.0,37.0,YSHSHFC0009
1193652,2024-04-18 10:35:00,offline,NaN,NaN,NaN,NaN,NaN,YSHSHFC0009
1194071,2024-04-18 10:45:00,online,-1.0,NaN,33.0,NaN,NaN,YSHSHFC0009
1194791,2024-04-18 11:05:00,online,-1.0,NaN,24.0,NaN,NaN,YSHSHFC0009
2352826,2024-04-18 12:25:00,online,0.0,43.0,28.0,-16.0,30.0,YSHSHFC0009
61408,2024-04-18 12:35:00,online,0.0,43.0,33.0,-16.0,30.0,YSHSHFC0009
1174148,2024-04-18 13:25:00,online,0.0,NaN,0.0,NaN,NaN,YSHSHFC0009
1174848,2024-04-18 13:45:00,offline,NaN,NaN,NaN,NaN,NaN,YSHSHFC0009
1175556,2024-04-18 14:05:00,online,0.0,NaN,28.0,NaN,NaN,YSHSHFC0009
77624,2024-04-18 17:55:00,online,0.0,43.0,33.0,-15.0,30.0,YSHSHFC0009
1916346,2024-04-18 20:05:00,online,0.0,44.0,30.0,-14.0,32.0,YSHSHFC0009
53492,2024-04-18 20:35:00,online,0.0,41.0,30.0,-14.0,31.0,YSHSHFC0009
54413,2024-04-18 21:05:00,online,0.0,44.0,31.0,-14.0,32.0,YSHSHFC0009
1546578,2024-04-19 01:55:00,online,0.0,43.0,32.0,-14.0,32.0,YSHSHFC0009
1547284,2024-04-19 02:05:00,online,0.0,40.0,32.0,-13.0,31.0,YSHSHFC0009
2593918,2024-04-19 02:25:00,online,0.0,42.0,27.0,-13.0,32.0,YSHSHFC0009
2594192,2024-04-19 02:35:00,online,-2.0,41.0,30.0,-14.0,31.0,YSHSHFC0009
2595016,2024-04-19 02:55:00,online,0.0,42.0,31.0,-13.0,32.0,YSHSHFC0009
2574171,2024-04-19 04:05:00,online,0.0,41.0,31.0,-13.0,32.0,YSHSHFC0009
2167014,2024-04-19 05:45:00,online,0.0,53.0,32.0,-12.0,33.0,YSHSHFC0009

In [40]:
data2 = pd.read_csv("장애내역.csv", encoding='cp949')
data2

           셀번호                           측정시간      장애여부
0      YSWS4-5  2024-04-01T10:34:43.000+09:00     MAJOR
1      YSSB1-6  2024-04-01T11:13:33.000+09:00     MAJOR
2     YSWS0244  2024-04-01T15:22:45.000+09:00  CRITICAL
3    YSWSG3-4B  2024-04-02T10:54:25.000+09:00     MAJOR
4     YSJB5-25  2024-04-02T13:41:30.000+09:00     MAJOR
..         ...                            ...       ...
181   YSYW0030  2024-04-30T09:33:27.000+09:00     MAJOR
182   YSYW0030  2024-04-30T10:01:47.000+09:00  CRITICAL
183    YSWS8-5  2024-04-30T14:31:26.000+09:00     MAJOR
184   YSYW0009  2024-04-30T14:44:35.000+09:00     MAJOR
185   YSSB1-11  2024-04-30T16:54:56.000+09:00     MAJOR

[186 rows x 3 columns]

In [47]:
data2['셀번호'].nunique()

108

In [42]:
avail_cells= data2['셀번호'].unique()

In [44]:
avail_data = data[data['셀번호'].isin(avail_cells)]

In [46]:
avail_data.to_csv("avail_data.csv", encoding='cp949', index=0)